body {
	background: linear-gradient(-45deg, #ee7752, #e72222);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  animation-direction: alternate;
  color: rgb(38, 38, 38);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.body-dark {
  background:rgb(36, 36, 36);
  color: white;
}

.encabezado {
  margin: auto;
  width: auto;
  max-width: max-content;
  position: relative;
  top: 60px;
  left: 10px;
}

.sombra {
    box-shadow: 0 1vh 1.53vh rgba(0, 0, 0, 0.353);
}

.logo {
    font-size: 10vh;
    font-family: 'Caesar Dressing';
    color:white;    
    font-weight: 600;
    margin-left: -3vh;   
}

.logo:before {
    content:'LUCKY💎NAME';
}

@media (max-width: 576px) {

  .logo {
    font-size: 7vh;

}

}

#contenido {
    margin-top: 11vh;
}

.alturas {
    height: 50vh;
}

.dot {
  height: 7vh;
  width: 7vh;
  background-color: #f4f4f4;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  bottom: 35px;
  right: 40px;
  box-shadow: 2px 1px 10px #00000070;
}

span.fa-moon {
  font-size: 4vh;
  padding: 1.5vh;
  color:#00000070;
}

span.fa-lightbulb {
  font-size: 4vh;
  padding: 1.5vh 2.1vh;
  color:#00000070;
}

.dark {
  color: black
  background: black;
}

.div-dark {
  background: rgb(60, 60, 60);
  color:salmon;
}

.form-range::-moz-range-thumb {
  background-color: #e72222 !important;
}

.form-range:disabled::-moz-range-thumb {
  background-color: #adb5bd !important;
}
